<h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>

<!-- form_for == pass it an identifying object for the form, the symbol :post
     form_for helper what the form is for.
     FormBuilder object, f, builds 2 labels and 2 text fields, one each for the title and the post.
     f.submit == a call to create a submit button for the form
     url: posts_path** == gives the form a different URL.
     **the posts_path helper is a helper method passed to the :url option.  Rails points the form to the 'create' action of the PostsController, will send a POST request to that route. (you'll still need to create the 'create' action within the PostsController)
 -->